@model CricketPlayers.Data.Entities.Player

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayingRole" class="control-label"></label>
                <input asp-for="PlayingRole" class="form-control" />
                <span asp-validation-for="PlayingRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldingPosition" class="control-label"></label>
                <input asp-for="FieldingPosition" class="form-control" />
                <span asp-validation-for="FieldingPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BattingStyle" class="control-label"></label>
                <input asp-for="BattingStyle" class="form-control" />
                <span asp-validation-for="BattingStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BowlingStyle" class="control-label"></label>
                <input asp-for="BowlingStyle" class="form-control" />
                <span asp-validation-for="BowlingStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CricInfoId" class="control-label"></label>
                <input asp-for="CricInfoId" class="form-control" />
                <span asp-validation-for="CricInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CricsheetName" class="control-label"></label>
                <input asp-for="CricsheetName" class="form-control" />
                <span asp-validation-for="CricsheetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
